APP_NAME="Sistema de Funilaria"
APP_ENV=local
APP_KEY=base64:dummykey
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=funilaria
DB_USERNAME=funilaria
DB_PASSWORD=funilaria

CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
REDIS_HOST=redis
REDIS_PORT=6379

FILESYSTEM_DISK=public

JWT_TTL=60
